<!--Extends trae el formato de layout y sustituye los blocks de esta pagina
en el formato de la página-->
{% extends 'layout.html' %}

{% block main %}
<!--formulario de la ruta '/'-->
<section class="consulta">
    <form action="/" method="post">
        <label for="libro">Libro</label>
        <input type="text" name="libro" id="libro" required>
        <!--value es el valor que quieres enviar. name fabrica y envia la variable operador que-->
        <!--es la que se carga el valor de value operador=value-->
        <button type="submit">Consultar</button>
    </form>
</section>

<section class="respuesta">
    <ul class="respuesta__lista">
        <li>{{ titulo }}</li>
        <li>{{ precio }}</li>
        <li>{{ autor }}</li>
    </ul>
</section>
 {% endblock %}