<!--pagina que se mantiene por toda la web. En cada página se llama a layout para
mantener el formato de la página-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!---BULMA--->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!---CSS--->
    <link rel="stylesheet" href="{_url_for{'static', filename='css/main.css'}}">

    <title>Document</title>
</head>
<body>
    <!---HEAdER--->
    <header>
        <h1>Librería a consultar</h1>
        <br>
        {% block header %}{% endblock %}
    </header>
    <!---MAIN--->
    <main>
        {% block main %}{% endblock %}
    </main>
    <!---FOOTER--->
    <footer>
        <br>
        <br>
        {% block footer %}by MariCarmen{% endblock %}
    </footer>
</body>
</html>